<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base :: layout(~{::div})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div  style="width:50%;margin: auto;">
    <form th:action="@{/Doctor/register}" method="post" th:object="${doctor}">
        <div class="form-group">
            <label for="FirstName">FirstName</label>
            <input type="text" class="form-control"  th:field="*{firstName}" placeholder="Enter firstname" required>
            <div class="invalid-feedback">
                Please provide a valid name.
            </div>

        </div>
        <div class="form-group">
            <label for="LastName">LastName</label>
            <input type="text" class="form-control" th:field="*{lastName}" placeholder="enter lastname" required>
        </div>
        <div class="form-group">
            <label for="Specialist">Specialist</label>
            <input type="text" class="form-control" th:field="*{speciality}"  placeholder="Enter speclisit" required>

        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>