<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base :: layout(~{::div})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 70%;margin: auto">
    <h1 class="">Doctor List</h1><br>
    <a th:href="@{Doctor/register}" class="btn btn-primary">Add Doctor</a><br>
    <br>
    <table class="table table-striped table-dark" >
        <thead>
        <tr>
            <th >Id</th>
            <th >First</th>
            <th >Last</th>
            <th>Specilist</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor:${doctors}">
            <th th:text="${doctor.getId()}">1</th>
            <td th:text="${doctor.getFirstName()}"></td>
            <td th:text="${doctor.getLastName()}"></td>
            <th th:text="${doctor.getSpeciality()}"></th>
            <td><a th:href="@{'/Doctor/edit/'+${doctor.getId()}}" class="btn btn-primary">Edit</a></td>
            <td><a th:href="@{'/Doctor/delete/'+${doctor.getId()}}" class="btn btn-danger">Delete</a></td>

        </tr>

        </tbody>
    </table>
</div>
</body>
</html>