<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base :: layout(~{::div})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 70%;margin: auto">
    <h1 class="">Animal List</h1><br>
    <a th:href="@{/Animal/register}" class="btn btn-primary">Add Animal</a><br>
    <br>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th >Id</th>
            <th>Name</th>
            <th >Type_ID</th>
            <th >Owner_Id</th>
            <th>BirthDate</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="animal:${animals}">
            <th th:text="${animal.getId()}">1</th>

            <td th:text="${animal.getName()}"></td>

            <td th:text="${animal.animalType.getId()}"></td>
            <td th:text="${animal.owner.getId()}"></td>
            <td th:text="${animal.getBirthDate()}"></td>
            <td><a th:href="@{'/Animal/edit/'+${animal.getId()}}" class="btn btn-primary" role="button">Edit</a></td>
            <td><a th:href="@{'/Animal/delete/'+${animal.getId()}}" class="btn btn-danger" role="button">Delete</a></td>

        </tr>

        </tbody>
    </table>
</div>

</body>
</html>