<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base :: layout(~{::div})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div >
    <form th:action="@{/Animal/register}" method="post" th:object="${animals}">
        <div class="form-group">
           <label>Type_id</label>
            <select th:field="*{type_id}">
                <option th:each="t :${anitype}" th:value="${t}" th:text="${t}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="Owner_Id">Owner_id</label>

            <select th:field="*{owner_Id}">
                <option th:each="o :${own}" th:value="${o}" th:text="${o}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="BirthDate">Birthdate</label>
            <input type="number" class="form-control" th:field="*{birthDate}"  placeholder="Enter birthdate">

        </div>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control"th:field="*{name}"  placeholder="enter name">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>