<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base :: layout(~{::div})">
<head>
    <meta charset="UTF-8">
    <title>Edit animal</title>
</head>
<body>
<div >
    <form th:action="@{/Animal/register}" method="post" th:object="${animal}">

        <div class="form-group">

            <input type="hidden" class="form-control" th:field="*{id}"  >

        </div>
        <div class="form-group">
            <label for="animal">Animal</label>

            <select th:field="*{animalType}" class="form-control " required>
                <th:block th:each="ani:${anitype}">
                    <option  th:text="${ani.getName() }" th:value="${ani.getId()}"></option>
                </th:block>

            </select>
        </div>
        <div class="form-group">
            <label for="Owner">Owner</label>

            <select th:field="*{owner}" class="form-control " required>
                <th:block th:each="own:${owns}">
                    <option  th:text="${own.firstName }" th:value="${own.getId()}"></option>
                </th:block>

            </select>
        </div>

        <div class="form-group">
            <label for="BirthDate">Birthdate</label>
            <input type="number" class="form-control" th:field="*{birthDate}"  placeholder="Enter birthdate" required>

        </div>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control"th:field="*{name}"  placeholder="enter name">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>