<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base :: layout(~{::div})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 70%;margin: auto">
    <h1 class="">Owner List</h1><br>
    <a th:href="@{/Owner/register}" class=" btn btn-primary">Add Owner</a><br>
<table class="table table-striped table-dark" >
    <thead>
    <tr>
        <th >Id</th>
        <th >First</th>
        <th >Last</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner:${owners}">
        <th th:text="${owner.getId()}"></th>
        <td th:text="${owner.getFirstName()}"></td>
        <td th:text="${owner.getLastName()}"></td>
        <td><a th:href="@{'/Owner/edit/'+${owner.getId()}}" class="btn btn-primary" role="button">Edit</a></td>
        <td><a th:href="@{'/Owner/delete/'+${owner.getId()}}" class="btn btn-danger" role="button">Delete</a></td>

    </tr>

    </tbody>
</table>
</div>

</body>
</html>