<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base :: layout(~{::div})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 70%;margin: auto">
    <h1 class="">Visit List</h1><br>

    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th >Id</th>
            <th >Date</th>
            <th >Description</th>
            <th>Animal_Id</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visit:${visits}">
            <th th:tex="${visit.getId()}"></th>
            <th th:text="${visit.getDate()}">1</th>
            <td th:text="${visit.getDescription()}"></td>
            <td th:text="${visit.animal.getId()}"></td>

            <td><a th:href="@{'/Visit/delete/'+${visit.getId()}}">Delete</a></td>

        </tr>

        </tbody>
    </table>
</div>


</body>
</html>