<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base :: layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>

            <section>
                <h1>welcome </h1>
                As our community's only open-admission shelter, we have the largest selection
                of adoptable dogs, cats, puppies and kittens waiting to meet you. You can find
                your new best friend at our shelter, 4000 N. Silverbell Rd.
                All our adopted pets are micro-chipped, spayed or neutered, vaccinated and come with a free vet visit, too.
            </section>


</body>
</html>